# Rust
target/
Cargo.lock

# Temp files
*.o
*.obj
*.bin
*.iso
*.img
*.tmp
*.log

# QEMU
*.qcow2
*.vdi
*.vmdk
*.nvram
qemu-virt.dtb
qemu-virt.dts

# Dumps / traces
*.map
*.sym
*.lst

# Editor
.vscode/
.idea/
*.swp
*.swo

# OSDev specific
build/
out/

# linux
images/linux/buildroot/
images/linux/archive/
images/linux/rootfs/
images/linux/initramfs.cpio
images/linux/rootfs.cpio.gz
images/linux/rootfs.ext2

# Other
kernel/virt.dtb
docs/manifesto*.md
kernel/src/concat.sh
kernel/src/repo_concat.txt
kernel/dump.txt

