CONFIG_ARM64=y
CONFIG_ARM64_4K_PAGES=y

# Deactivate relocation / KASLR
CONFIG_RELOCATABLE=n
CONFIG_RANDOMIZE_BASE=n

# Physical RAM base seen by Linux
CONFIG_ARM64_PHYS_OFFSET=0x43000000

# Text offset (classic 0x00080000)
CONFIG_ARM64_TEXT_OFFSET=0x00080000

CONFIG_PCI=y
CONFIG_PCI_DEBUG=y
CONFIG_PCI_HOST_GENERIC=y

CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_BLK=y

CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE=""
CONFIG_INITRAMFS_COMPRESSION_GZIP=y

CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y

CONFIG_EXT4_FS=y
CONFIG_FHANDLE=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_DEBUG_FS=y

CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_CONSOLE=y
CONFIG_TTY=y
CONFIG_EARLY_PRINTK=y
CONFIG_PRINTK=y
